body {
  margin: 1rem;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.star--container {
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding: 1rem;
  border: 2px solid black;
}

.star--container--title {
  font-weight: 700;
}

.star--container--sounds {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 0.5rem;
}

@media (max-width: 768px) {
  button {
    width: 100%;
  }
}

button {
  display: inline-block;
  outline: none;
  cursor: pointer;
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  border-radius: 8px;
  padding: 14px 24px;
  border: none;
  transition: box-shadow 0.2s ease 0s, -ms-transform 0.1s ease 0s,
    -webkit-transform 0.1s ease 0s, transform 0.1s ease 0s;
  background: linear-gradient(
    to right,
    rgb(230, 30, 77) 0%,
    rgb(227, 28, 95) 50%,
    rgb(215, 4, 102) 100%
  );
  color: #fff;
}
